#navbar{
    z-index: 2;
    background-color: #404044 ;
    top: 0;
    position: sticky;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbox{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navleft{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .btn{
                padding: 10px 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                margin-left: 40px;
            }
        }
        .navright{
            display: flex;
            justify-content: space-between;
            height: 100%;
            gap: 20px;
            a{
                color: white;
            }
            
        }
    }
}